@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

body {
    font: {
        size: 100%;
        family: $primary-font; // variables inside partials > _variables.scss
    }
    color: $color-1;
    background-color: lighten($color-1, 5%);
}

a {
    color: $color-4;
    text-decoration: none;
}

img {
    max-width: 100%;
}


header {
    height: 250px;
    line-height: 250px;
    background-color: $color-1;

    h1 {
        @include font-size(30px);
        text-align: center;
        color: $color-3;
        font-weight: 300;
    }
}

.cd-product {
    text-align: center;
}

.cd-product-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;

    > img {
        display: block;
    }
}

.cd-single-point .cd-more-info {
    h2 {
        @include font-size(22px);
        margin-bottom: .6em;
    }

    p {
        color: lighten($color-1, 30%);
    }

    @include MQ(S) {
        h2 {
            @include font-size(20px);
            margin-bottom: 0;
        }

        p {
            @include font-size(14px);
        }
    }
}
